
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype for applying for your juggling licence

            <h2 class="govuk-heading-m">About this page</h2>

    <p>
    This prototype let's you apply for your licence to juggle anywhere in the UK, and to charge for your juggling services.
    </p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">Apply for your juggling licence</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
